{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'account:profile' post.user.id %}">{{ post.user }}</a><br>
    <img src="{{ post.image.url }}" alt=""><br>
    {% if request.user.id == post.user.id %}
        <a class="btn btn-danger" href="{% url 'home:delete' post.id %}">Delete</a>
        <a class="btn btn-info" href="{% url 'home:update' post.id %}">Update</a>
    {% endif %}
    <div class="text-center">
        <p>{{ post.title }}</p>
        <p>{{ post.content }}</p>
    </div>

    <a href="{% url 'home:like' post.id %}" class="{% if can_like %} disabled {% endif %}btn btn-primary">Like</a><hr>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="comment" >
    </form>

        {% for comment in comments %}
            <a href="{% url 'account:profile' comment.user.id %}">{{ comment.user }} {{ comment.created|timesince }}</a>
            <p class="card-header" >{{ comment.content }}</p>
            {% with replies=comment.rcomment.all %}
            {% for reply in replies %}
                <p>{{ reply.user }} <br/> {{ reply.content }}</p>
                <form action="{% url 'home:reply' post.id comment.id %}" method="post">
                    {% csrf_token %}
                    {{ form_reply.as_p }}
                    <input type="submit" value="reply">
                </form>
            {% endfor %}
            {% endwith %}
        {% empty %}
            <P>no comment yet!</P>
        {% endfor %}


{% endblock %}