{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">

    {% block extra_headers %}{% endblock %}

</head>
<body>
    {% include 'inc/navbar.html' %}
    <div class="jumbotron">
        {% include 'inc/messages.html' %}
        <div class="flex">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>